# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# OS files
.DS_Store

# Python envs
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
build/
dist/
*.egg-info/

# C extensions
*.so

# Test / coverage
.pytest_cache/

# Large data and notebooks checkpoints
*.xlsx
*.zip
*.tar.gz
